<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Clicking Together</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="/styles/site.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/magnific-popup.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("777685705");
</script>
</head>
<body>
  <nav class="header col-xs-12 col-sm-12 col-md-12" role="navigation">
    <div class="header-parent row">
      <div class="header-link col-xs-12 col-sm-3 col-md-3">
        <a href="/"><h1 class="logo">Clicking Together</h1></a>
      </div>
      <div class="header-menu col-xs-12 col-sm-9 col-md-9">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/camp2013">Camp 2013</a></li>
          <li><a href="/camp2016">Camp 2016</a></li>
          <li><a href="/documentary">Documentary</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container col-xs-12 col-sm-12 col-md-12" style="height:100%; padding:0px;">
    {{{body}}}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/jquery.magnific-popup.js"></script>
  <script src="/js/popup.js"></script>
  <script src="https://use.fontawesome.com/c22f2ecb64.js"></script>
</body>
</html>
