<section class="mission col-xs-12 col-sm-3 col-md-3">
  <h1>Apply to our 2017 program!</h1>
  <h2>We welcome all students ages 12-15 years to apply for our Chennai Photography Summer Camp.</h2>
  <h3>Details: 8th to 18th May 2017, 1-5pm daily at MGR Janaki College, Adyar</h3>  
  <h3>To apply, please fill out this form: <a href="https://goo.gl/forms/KRgto4qVUwqvhGDh1" target="_blank
">2017 Chennai Photography Summer Camp Application Form</a></h3>
  <p>Please see our flyer for more details and contact information.</p>
</section>

<section class="col-xs-12 col-sm-9 col-md-9">
      <img src="/images/CT-2017-app.jpeg" alt="apply-flyer" class="max-width">
</section>