<h1>Camp 2013</h1>
<h2>Inspired by Zana Briski’s documentary Born into Brothels, Shiv and Hannah designed and executed a 3-weeks long interactive photography camp to bring kids from diverse backgrounds together in Ambala, India.</h2>