<section class="mission col-xs-12 col-sm-3 col-md-3">
  <h3>Our Documentary</h3>
  <p align="justify">In 2013, we sought to begin the work of building community among youth from a wide range of backgrounds.</p>

  <p><i>Here’s the story of our work in 2013.</i></p>
  
  <br>
  <p align="justify">In 2016, we had the opportunity to return to work with the same group of youth. We documented their journey again 3 years later and made a documentary film that chronicles the journey that these youth have undertaken in discovering who they are and what kind of the world they saw themselves living in.</p>

  <p><i>Full documentary coming soon.</p>
</section>

<section class="col-xs-12 col-sm-9 col-md-9">
<div class="documentary-container">
  <iframe class="documentary-iframe" src="https://www.youtube.com/embed/R1VNihOz4T0?rel=0"frameborder="0" allowfullscreen></iframe>
</div>
</section>
