<h1>Documentary</h1>
<h2>Community-centric photography camps in Ambala, India</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6KQEvKmXZsE" frameborder="0" allowfullscreen></iframe>