<div class="content">
  <h2>Using photography to help young citizens transcend boundaries of difference and prejudice.</h2>
  <h3>We aim for our students to see their lives, their cities, and the different communities within their cities from broader perspectives.</h3>
  <a href="/about"><button class="btn btn-primary" type="submit">Read More</button></a>
</div>