<div class="content" style="height:100%;">
  <div class="photo"></div>
  <div class="intro" style="height:100%">
    <div class="intro-text">
    <h2 class="index">Clicking Together uses photography to help young citizens transcend boundaries of difference and prejudice.</h2>
    <a href="/apply"><button class="btn btn-warning btn-lg" style="margin-right: 10px">Apply to 2017 Program</button></a>
    <a href="/documentary"><button class="btn btn-default btn-lg">Preview Our Documentary</button></a>
    </div>
  </div>
</div>