{{#if this.link}}
  <div class="col-xs-12 col-sm-6 col-md-4 narrow">
    <a href={{this.link}} title="{{this.caption}}"><img src={{this.link}} alt={{@key}} class="max-width project-photo"></a>
  </div>
{{/if}}